---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatTimeframe } from "../../utils/date";

const projects = await getCollection("projects");
const sortedProjects = [...projects].sort((a, b) => {
  return new Date(b.data.start).getTime() - new Date(a.data.start).getTime();
});
---

<Layout
  title="alexander - projekte"
  description="Übersicht meiner Projekte und ehrenamtlichen Tätigkeiten. Von React Native Apps über NestJS Backend-Systeme bis zu innovativen Web-Anwendungen."
  keywords="Projekte, Portfolio, React Native, NestJS, Full Stack, Web Apps, Mobile Apps"
>
  <h1 class="text-xl font-bold mb-4">Projekte & Ehrenamtliche Tätigkeiten</h1>
  {
    sortedProjects.map((project, index) => (
      <div class="mb-3">
        <div class="flex justify-between items-center mb-1">
          <h2 class="font-bold text-lg">{project.data.title}</h2>
          <div class="flex">
            <p>
              {formatTimeframe({
                start: project.data.start,
                end: project.data.end,
              })}
            </p>
          </div>
        </div>
        {/* <p class="whitespace-pre-wrap">{project.data.description}</p> */}
        <div class="flex justify-between items-center">
          <p>
            <span class="font-bold">Tech Stack:&nbsp;</span>
            {project.data.technologies.join(" -  ")}
          </p>
        </div>
        <a
          href={`/projekte/${project.slug}`}
          class="link"
          aria-label={`${project.data.title} - Mehr lesen`}
        >
          Mehr lesen
        </a>
        {index + 1 !== sortedProjects.length && (
          <hr class="my-4 mx-auto w-24 border-black dark:border-white" />
        )}
      </div>
    ))
  }
  <style>
    [data-icon] {
      font-size: 20px;
    }
  </style>
</Layout>
