@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  src: url("/fonts/Inconsolata-Bold.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Inconsolata", monospace, Arial;
  text-transform: lowercase;
}

::selection {
  background-color: #ef4444;
  color: white;
}

.link {
  @apply hover:underline decoration-2 underline-offset-2 text-red-800;
}

a:hover {
  @apply hover:underline hover:text-red-700 dark:hover:text-red-800;
}

h1 {
  @apply text-xl font-bold mb-2;
}

article a {
  @apply text-red-800 hover:underline decoration-2 underline-offset-2;
}
