---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="alexander - not found"
  description="alexander - full stack developer"
>
  <h1 class="text-3xl mb-2">404 - not found!</h1>
</Layout>
