---
import { Icon } from 'astro-icon'
import BaseHead from '../components/BaseHead.astro';
---

<html lang="de">
	<head>
		<BaseHead description="welcome" title="alex - full stack developer" />
	</head>
	<body class="flex flex-col justify-center min-h-screen text-center">
		<h1 class="text-3xl mb-2">hey, ich bin alex!</h1>
		<h2 class="text-xl mb-3">full stack developer</h2>
		<p>Diese Seite befindet sich aktuell in Entwicklung ... Komm gerne später wieder</p>
		<div class="mt-3 flex flex-row justify-center text-center">
			<a
				href="https://github.com/alexanderhodes"
				class="mr-4 hover:text-red-500 dark:text-white dark:hover:text-red-500 w-5"
				aria-label="Github"
				rel="noopener"
			>
				<Icon class="h-5" name="fa-brands:github" />
			</a>
			<a
				href="https://www.linkedin.com/in/alexander-hodes/"
				class="mr-4 hover:text-red-500 dark:text-white dark:hover:text-red-500 w-5"
				aria-label="LinkedIn"
				rel="noopener"
			>
				<Icon class="h-5" name="fa-brands:linkedin" />
			</a>
			<a
				href="https://www.xing.com/profile/Alexander_Hodes/cv"
				class="mr-4 hover:text-red-500 dark:text-white dark:hover:text-red-500 w-5"
				aria-label="Xing"
				rel="noopener"
			>
				<Icon class="h-5" name="fa-brands:xing" />
			</a>
		</div>
	</body>
	<style>
		body {
			font-family: 'Inconsolata', monospace, Arial;
		}

	</style>
</html>
