---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
const sortedProjects = [...projects].sort((a, b) => {
  return new Date(b.data.start).getTime() - new Date(a.data.start).getTime();
});

const technologies = await getCollection("technologies");
const visibleTechnologies = [...technologies].filter((technology) => {
  return technology.data.visible;
});
---

<Layout
  title="alexander - home"
  language="de"
  description="alexander - full stack developer"
>
  <h1 class="text-3xl mb-2">hey, ich bin alexander!</h1>
  <h2 class="text-base mb-3">
    Full Stack Developer bei <a
      href="https://www.b-42.com/"
      target="_blank"
      referrerpolicy="no-referrer"
      class="hover:underline decoration-2 underline-offset-2 text-red-800"
      >b42</a
    >
  </h2>
  <h3 class="font-bold">früher</h3>
  <ul class="mb-3">
    <li>Full Stack Developer bei bill.less</li>
    <li>
      Software Entwickler bei <a
        href="https://groz-beckert.com/de/"
        target="_blank"
        referrerpolicy="no-referrer"
        class="hover:underline decoration-2 underline-offset-2 text-red-800"
        >groz-beckert</a
      >
    </li>
    <li>
      System Engineer bei <a
        href="https://www.t-systems.com/de/de"
        target="_blank"
        referrerpolicy="no-referrer"
        class="hover:underline decoration-2 underline-offset-2 text-red-800"
        >t-systems</a
      >
    </li>
  </ul>
  <h3 class="font-bold">projekte/ ehrenämter</h3>
  <ul class="mb-3">
    {
      sortedProjects.map((project) => (
        <li>
          <a
            class="hover:underline decoration-2 underline-offset-2 hover:text-red-800"
            href="/projekte"
          >
            {project.data.title}
          </a>
        </li>
      ))
    }
  </ul>
  <h3 class="font-bold">tech stack</h3>
  <p>{visibleTechnologies.map((t) => t.data.title).join(", ")}</p>
</Layout>
