---
import { Icon } from "astro-icon";
import BaseHead from "../components/BaseHead.astro";
---

<html lang="de">
  <head>
    <BaseHead description="welcome" title="Musiccan - Datenschutz" />
  </head>
  <body class="flex flex-col max-w-3xl mx-auto my-4">
    <h1 class="text-2xl font-bold mb-2">
      Datenschutzerklärung für die App "Musiccan"
    </h1>

    <p class="mb-2">
      Wir legen großen Wert auf den Schutz Ihrer Privatsphäre und den
      verantwortungsvollen Umgang mit Ihren persönlichen Daten. Diese
      Datenschutzerklärung informiert Sie darüber, wie die App "Musiccan" (im
      Folgenden als "App", "wir", "uns" oder "unser" bezeichnet)
      personenbezogene Daten erhebt, verwendet, offenlegt und schützt.
    </p>

    <h2 class="text-xl font-bold mb-2">Einverständnis</h2>
    <p class="mb-2">
      Durch die Nutzung unserer App erklären Sie sich mit dieser
      Datenschutzerklärung einverstanden. Wenn Sie nicht mit den Bedingungen
      dieser Erklärung einverstanden sind, verwenden Sie die App bitte nicht.
    </p>

    <h2 class="text-xl font-bold mb-2">
      Erhebung und Verwendung von Informationen
    </h2>
    <ul class="mb-2">
      <li>
        a) Personenbezogene Daten: Wir erfassen personenbezogene Daten wie Ihren
        Namen und Ihr Alter, jedoch ausschließlich auf Ihrem Gerät. Diese
        Informationen werden lokal gespeichert und nicht an uns oder Dritte
        weitergegeben. Sie dienen lediglich dazu, eine personalisierte
        Benutzererfahrung in der App zu ermöglichen.
      </li>
      <li>
        b) Nicht-personenbezogene Daten: Wir erfassen automatisch generierte
        nicht-personenbezogene Daten, wenn Sie die App nutzen. Diese Daten
        umfassen technische Informationen wie Geräteinformationen,
        Betriebssystem, App-Version und Absturzprotokolle. Diese Daten werden
        anonymisiert und dienen uns dazu, die App zu verbessern und Fehler zu
        beheben. Wir nutzen keine Analytik-Tools von Drittanbietern, um diese
        Daten zu sammeln.
      </li>
    </ul>
    <p class="mb-2">
      Bitte beachten Sie, dass wir Ihre personenbezogenen Daten, einschließlich
      Name und Alter, nicht erfassen oder speichern. Diese Informationen bleiben
      ausschließlich auf Ihrem Gerät und werden nicht an uns oder andere
      weitergegeben.
    </p>

    <h2 class="text-xl font-bold mb-2">Cookies und ähnliche Technologien</h2>
    <p class="mb-2">
      Die App verwendet keine eigenen Cookies oder ähnliche Technologien, um
      Informationen über Sie zu sammeln.
    </p>

    <h2 class="text-xl font-bold mb-2">Offenlegung von Informationen</h2>
    <p class="mb-2">
      Wir geben Ihre personenbezogenen Daten nicht an Dritte weiter, es sei
      denn, dies ist gesetzlich vorgeschrieben oder erforderlich, um unsere
      Rechte zu schützen. Nicht-personenbezogene Daten können anonymisiert an
      Drittanbieter weitergegeben werden, um uns bei der Verbesserung der App zu
      unterstützen.
    </p>

    <h2 class="text-xl font-bold mb-2">Datensicherheit</h2>
    <p class="mb-2">
      Wir setzen angemessene technische und organisatorische Maßnahmen ein, um
      Ihre Daten vor unbefugtem Zugriff, Verlust oder Diebstahl zu schützen. Wir
      können jedoch keine absolute Sicherheit garantieren.
    </p>

    <h2 class="text-xl font-bold mb-2">
      Änderungen dieser Datenschutzerklärung
    </h2>
    <p class="mb-2">
      Wir behalten uns das Recht vor, diese Datenschutzerklärung nach eigenem
      Ermessen zu ändern oder zu aktualisieren. Wir empfehlen Ihnen, diese
      Erklärung regelmäßig auf Änderungen zu überprüfen. Die fortgesetzte
      Nutzung der App nach Änderungen dieser Erklärung gilt als Zustimmung zu
      den aktualisierten Bedingungen.
    </p>

    <h2 class="text-xl font-bold mb-2">Kontakt</h2>
    <p class="mb-2">
      Wenn Sie Fragen oder Bedenken bezüglich dieser Datenschutzerklärung oder
      der Nutzung Ihrer Daten haben, können Sie uns unter Alexander Hodes
      (E-Mail: alexander[punkt]hodes[at]live[punkt]com) kontaktieren.
    </p>

    <p class="mb-2">
      Bitte beachten Sie, dass diese Datenschutzerklärung speziell für die App
      "Musiccan" gilt und nicht für andere Websites oder Dienste, auf die
      möglicherweise über die App verlinkt wird.
    </p>

    Stand: 08.06.2023
    <style></style>
    <script
      defer
      type="text/javascript"
      src="https://api.pirsch.io/pirsch.js"
      id="pirschjs"
      data-code="YnKtWuDewzKpiil0jnWMVp7YBcMScN7H"
    ></script>
    <script
      defer
      data-domain="plausible.alexanderhodes.de"
      src="https://plausible.alexanderhodes.de/js/script.js"
    ></script>
  </body>
</html>
