---
import { languages } from "../i18n/ui";
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath,
} from "../i18n/utils";

const route = getRouteFromUrl(Astro.url);
const currentLang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(currentLang);
---

<ul class="flex space-x-2">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a
          href={translatePath(`/${route ? route : ""}`, lang)}
          class={`hover:underline hover:decoration-2 hover:underline-offset-2 text-white hover:text-red-800 ${
            lang === currentLang ? "underline" : ""
          }`}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
